* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'inter';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

html {
  min-height: 100%;
  position: relative;
  font-size: 62.5%;
  overflow-x: hidden;
}

footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  color: white;
}

//////////////////////////////////////
/********************/
/* GENERAL STYLE    */
/********************/

.grid {
  display: grid;
  column-gap: 2rem;
  row-gap: 4rem;
}

.grid-colum--1 {
  grid-template-columns: repeat(1, 1fr);
}
.grid-colum--2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-colum--3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-colum--4 {
  grid-template-columns: repeat(4, 1fr);
}

.heading-secondary {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.subheading {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.form-box {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.highlight {
  position: relative;
}

.highlight::after {
  display: inline-block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background: linear-gradient(to top left, #39b385, #9be15d);
}

.container {
  max-width: 130rem;
  margin: 5rem auto 10rem;
  padding: 0 2rem;
}

.flex-colum {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.secondary-header,
.secondary-header:link,
.secondary-header:visited {
  font-size: 3rem;
  cursor: pointer;
  color: #333;
  padding: 0.5rem 2rem;
  transition: all 0.3s;

  &:hover,
  &:active {
    opacity: 0.8;
  }
}

@media (max-width: 66em) {
  .grid-colum--4 {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
@media (max-width: 50em) {
  .container-forms {
    grid-template-columns: 1fr !important;
    row-gap: 6rem;
  }
  .checkout-container {
    width: 100% !important;
    padding: 0 2rem;
    font-size: 1.6rem !important;
  }
  .checkout-header {
    column-gap: 1rem !important ;
  }
}
@media (max-width: 46em) {
  .grid-colum--4 {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .cart-dropdown-container {
    width: 20rem !important;
  }
}
@media (max-width: 28em) {
  .grid-colum--4 {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
